.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

h1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
}