.x-axis path, .y-axis path,
.x-axis line, .y-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x-axis text, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
}

h1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
}